/* header --------------------------------------------------------------------------------------------- */
#header {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100vw;
    height: 80px;
    backdrop-filter: blur(100px);
    display: flex;
    align-items: center;
    /* transition: all 0.3s ease-in-out; */
}

#headerLogo {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 50px;
    background-image: url("https://i.ytimg.com/vi/XyB8GuwWMIs/maxresdefault.jpg");
    background-size: 100%;
    position: relative;
}

#dobsFaceHeader {
    position: absolute;
    width: 23px;
    height: 23px;
    top: 6px;
}

#headerTitle {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 600;
    margin-left: 10px;
}

#headerbtn {
    position: fixed;
    right: 40px;
    width: 120px;
    height: 40px;
    border-radius: 80px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 600;
    margin-left: 10px;
}

.hoverable:hover {
    cursor: pointer;
}

/* hero --------------------------------------------------------------------------------------------- */
#heroAnimation {
    width: 100vw;
    height: 100vh;
    background-image: url("https://i.pinimg.com/originals/21/5c/7f/215c7fdca6033092baa04b35c17466bd.gif");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

#heroInfo {
    margin-left: 10%;
    padding-top: 23vh;
}

#heroLogo {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-image: url("https://i.ytimg.com/vi/XyB8GuwWMIs/maxresdefault.jpg");
    background-size: 100%;
}

#dobsFace {
    position: absolute;
    width: 160px;
    height: 160px;
    top: 40px;
}

#dobsSymbol {
    position: absolute;
    font-size: 190px;
}

#heroTitle {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    font-weight: 600;
    margin-top: 20px;
    margin-left: 15px;
}

#heroSlogan {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 40px;
    margin-top: 20px;
    margin-left: 15px;
}

#scrollCue {
    position: absolute;
    width: 40px;
    height: 40px;
    bottom: 50px;
    left: calc(50% - 20px);
}

#scrollCue:hover {
    cursor: pointer;
}

/* info --------------------------------------------------------------------------------------------- */
#infoSection {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#dolbyPic {
    height: 400px;
    border-radius: 20px;
}

#infoText {
    margin-left: 60px;
    width: 400px;
    height: 400px;
}

#infoTitle {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 40px;
}

#infoParagraph {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 30px;
    margin-top: 20px;
}

/* team --------------------------------------------------------------------------------------------- */
#team {
    width: 100vw;
    height: 100vh;
    /* background-color: rgb(0, 183, 255); */
    background-color: #0bd2ff;
    position: relative;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.member {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    margin-right: 30px;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100vw;
    height: 60px;
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    color: black;
    font-size: 15px;
}

.footerEl:hover {
    cursor: pointer;
}

/* stats --------------------------------------------------------------------------------------------- */
#stats {
    width: 100vw;
    min-height: 100vh;
    background-color: black;
    position: relative;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#statsArea {
    margin-top: -60px;
}

.title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    color: white;
    font-size: 35px;
}

.sub {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: white;
    font-size: 60px;
}

#marketCap {
    margin-top: 40px;
}

@media only screen and (max-width: 700px) {
    #infoSection {
        display: initial;
        margin-left: 10vw;
    }
    #dolbyPic {
        margin-top: 80px;
    }
    #infoText {
        margin-left: 0px;
        margin-left: 10vw;
        width: 80vw;
    }
    #infoTitle {
        padding-top: 40px;
        font-size: 25px;
    }
    #infoParagraph {
        margin-top: 10px;
        font-size: 20px;
    }
}

@media only screen and (max-width: 550px) {
    #headerLogo {
        margin-left: 20px;
    }
    #headerbtn {
        right: 20px;  
    }
    .title {
        font-family: 'Montserrat', sans-serif;
        font-weight: 300;
        color: white;
        font-size: 25px;
    }
    .sub {
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
        color: white;
        font-size: 45px;
    }
}